__pycache__/
archive/
data/
dbt/macros/
scripts/
venv39/
CRON_SETUP.md
docker-compose.yml
secrets.py
superset_config.py
sync_state.json
.DS_Store
**/*.env
.superset/
ynab_data_pipeline.egg-info/

#misc files
load_old_budget.py
get_transactions_quick.py
csv_to_json.py
export_transactions_json.py
transactions_2015_present.json

# dbt
**target/
**dbt_packages/
**logs/
**.log
**profiles.yml